/* body {
  font-family: sans-serif;
  
}

nav {
  height: 2rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

nav ul li:first-child {
  flex-grow: 1;
}

#secret-container {
  text-align: center;
  border: black 1px dashed;
} */
 body {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin:0;
  background-color: linen;
} 

#search-bar {
  width: 15px;
}

#main {
  display: flex;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
}

modal{

}

#create-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:2%;
}
.login-inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:2%;
}


.w3-container.modal-contain {  
  padding:5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.w3-modal-content.w3-modal-content.w3-animate-zoom{
  width:40%;
  height:90%;
}

#signup-b{
  height:5%;
  display: flex;
  align-items: center;
}
#signup-inner-b{
  color:linen;
  border-color: aliceblue;
  background-color: #A58989;
  padding:5%;
  border-radius: 25px;
} 

#login-b{
  height:5%;
  display: flex;
  align-items: center;
}
#login-inner-b{
  color:linen;
  border-color: aliceblue;
  background-color: #A58989;
  padding:5%;
  border-radius: 25px;
} 